@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["title"] = "Index";
    Layout = "~/View/_Layout.cshtml";

}
 <h1 class = "bg-primary">Index</h1>
 <h1 class = "bg-danger">Index</h1>

