@{
    ViewData["Title"] = "Home Page";
    var students = ViewData["mystudents"] as List<StudentModel>;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
@* <table>
    <tr>
        <th>RollNo</th>
        <th>Name</th>
        <th>Gender</th>
        <th>Class</th>
    </tr>
    @foreach(var std in students)
    {
        <td>@std.RollNo</td>
        <td>@std.Name</td>
        <td>@std.Gender</td>
        <td>@std.Standard</td>
    }
</table>
 *@