@model  TagHelpersDemo.Models.Employee;

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="Container">
    <div class="row">
        <div class="col-sm-4">
            <form class = "d-grid" asp-action="Index" asp-Controller = "Home" method="post">
                <input asp-for="Name" placeholder="Enter Name" class="form-control" />
                <br />
                <select asp-for="Gender" class="form-control" asp-items="Html.GetEnumSelectList<Gender>()">
                    <option value="">Select-Gender</option>
                </select>
                <br />
                <input asp-for="Age" placeholder="Enter Age" class="form-control" />
                <br />
                <input asp-for="Designation" placeholder="Enter Designation" class="form-control" />
                <br />
                <input asp-for="Salary" placeholder="Enter Salary" class="form-control" />
                <br />
                <label>
                    Married:
                </label>

                <div class="form-check">
                    <input class="form-check-input" type="radio" asp-for="Married" value="yes">
                    <label class="form-check-label" for="flexRadioDefault1">
                        yes
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" asp-for="Married" value="no">
                    <label class="form-check-label" for="flexRadioDefault2">
                        no

                </div>
                <br />
                <textarea asp-for="Description" class="form-control" placeholder="Enter Description">

                </textarea>
                <input type="Submit" value="Submit" class="btn btn-outline-primary" btn-block />



            </form>
        </div>
    </div>
</div>